.page-background {
    height: 100%;
    width: 100%;
    text-align: left;
    background-image: url("../../../public/cookingBackground.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}