// password = "anaaremere"
{
    "_id": {
        "$oid": "6617e1f96f28964fac7c08a2"
    },

    "email": "didi@didirescu.com",
    "username": "didinescu",
    "password": "$2b$10$DJUTnomTdrixD5OmOlljrOkhcr7iRfIK1kZS5k.3SBNPeAICzKLpO",
    "type": "USER",
    "favoriteRecipes": [
        {
            "$oid": "6615380e631a214e599acfe2"
        }
    ],
    "todoRecipes": [],
    "ingredients": [
        {
            "name": "deadbeef",
            "quantity": 10,
            "measurement": "MULT"
        }
    ],
    "reportNo": 0

}


// password = "testulescu"
{
    "_id": {
        "$oid": "6617e5cf6f28964fac7c08a3"
    },

    "email": "test@test.com",
    "username": "TESTulescu",
    "password": "$2b$10$fBM8c4u0c9XCrnQ3sVhdoeXzIFBsQevJlClsAjEuQ1g7FkdnlGARG",
    "type": "USER",
    "favoriteRecipes": [],
    "todoRecipes": [
        {
            "$oid": "6615380e631a214e599acfe2"
        }
    ],
    "ingredients": [],
    "reportNo": 2

}


