.food-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    margin: 0 auto;
    width: 50%;
  }

@media only screen and (max-width: 768px) {
    .column {
        width: 80%;
        align-items: center;
    }
}