.food-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    margin: 0 auto;
    width: 100%;
}

.column {
    width: 35vw;
}

@media only screen and (max-width: 768px) {
    .column {
        width: 100vw;
    }
}